body{
	background-color: #ccc;
	margin:0px;
	/*position: relative;*/
}
.wrapper {
	padding: 10px;
}
h3 {
	color:#fff;
}
#outer{
	max-width:800px;
	margin: 0 auto;
	padding: 10px;
	overflow: hidden;
	outline: 1px dotted red;
	box-shadow: 0 0 1em rgb(19, 23, 250), 0 0 1em rgb(38, 83, 207);;
}

#fotos{
	margin-left:auto;
	margin-right:auto;
	
	text-align:center;
}
body img:last-child {
	border:5px solid #ffffff;

}
#fotos img {
	margin: 0 auto;
	width: 100px;
	cursor: pointer;
	border:5px solid lightblue;
}

#lightbox {
	position: fixed;z-index: 2000;top:0;left:0;width:100%;height: 100%;
	background-color: #28231b; display: none;color:red;
}
#bigfoto {
	position:absolute;
	z-index: 2001;
}



@keyframes animacja {
  0% {
    /*opacity: 1.0;*/
    /*opacity: 0.5;*/
    opacity: 0;
  }
  100% {
    opacity: 0.7;
    /*opacity: 1.0;*/
  }
}




